<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PROJECT_Sistrans</display-name>
  

   
 <servlet>
 
  <display-name>ServletPrincipal</display-name>
  <servlet-name>ServletPrincipal</servlet-name>
  <servlet-class>servlets.ServletPrincipal</servlet-class>
  
 </servlet>
 
  <servlet>
 
  <display-name>ServletIndexCajero</display-name>
  <servlet-name>ServletIndexCajero</servlet-name>
  <servlet-class>servlets.ServletIndexCajero</servlet-class>
  
 </servlet>
 
  <servlet>
 
  <display-name>ServletLogin</display-name>
  <servlet-name>ServletLogin</servlet-name>
  <servlet-class>servlets.ServletLogin</servlet-class>
  
 </servlet>
 
 <servlet>
 
 	<display-name>ServletIndexGerenteOficina</display-name>
 	<servlet-name>ServletIndexGerenteOficina</servlet-name>
 	<servlet-class>servlets.ServletIndexGerenteOficina</servlet-class>
 
 </servlet>
 
  <servlet>
 
 	<display-name>ServletRegistrarCliente</display-name>
 	<servlet-name>ServletRegistrarCliente</servlet-name>
 	<servlet-class>servlets.ServletRegistrarCliente</servlet-class>
 
 </servlet>
 
  <servlet>
 
 	<display-name>ServletRegistrarCuenta</display-name>
 	<servlet-name>ServletRegistrarCuenta</servlet-name>
 	<servlet-class>servlets.ServletRegistrarCuenta</servlet-class>
 
 </servlet>
 
   <servlet>
 
 	<display-name>ServletCerrarCuenta</display-name>
 	<servlet-name>ServletCerrarCuenta</servlet-name>
 	<servlet-class>servlets.ServletCerrarCuenta</servlet-class>
 
 </servlet>
 
    <servlet>
 
 	<display-name>ServletRegistrarPrestamo</display-name>
 	<servlet-name>ServletRegistrarPrestamo</servlet-name>
 	<servlet-class>servlets.ServletRegistrarPrestamo</servlet-class>
 
 </servlet>
 
     <servlet>
 
 	<display-name>ServletCerrarPrestamo</display-name>
 	<servlet-name>ServletCerrarPrestamo</servlet-name>
 	<servlet-class>servlets.ServletCerrarPrestamo</servlet-class>
 
 </servlet>
 
      <servlet>
 
 	<display-name>ServletConsultarCuentaOficina</display-name>
 	<servlet-name>ServletConsultarCuentaOficina</servlet-name>
 	<servlet-class>servlets.ServletConsultarCuentaOficina</servlet-class>
 
 </servlet>
 
       <servlet>
 
 	<display-name>ServletConsultarClienteOficina</display-name>
 	<servlet-name>ServletConsultarClienteOficina</servlet-name>
 	<servlet-class>servlets.ServletConsultarClienteOficina</servlet-class>
 
 </servlet>
 
       <servlet>
 
 	<display-name>ServletIndexGerenteGeneral</display-name>
 	<servlet-name>ServletIndexGerenteGeneral</servlet-name>
 	<servlet-class>servlets.ServletIndexGerenteGeneral</servlet-class>
 
 </servlet>
 
        <servlet>
 
 	<display-name>ServletConsultarCuentaGeneral</display-name>
 	<servlet-name>ServletConsultarCuentaGeneral</servlet-name>
 	<servlet-class>servlets.ServletConsultarCuentaGeneral</servlet-class>
 
 </servlet>
 
 <servlet>
 
 	<display-name>ServletConsultarClienteGeneral</display-name>
 	<servlet-name>ServletConsultarClienteGeneral</servlet-name>
 	<servlet-class>servlets.ServletConsultarClienteGeneral</servlet-class>
 
 </servlet>
 
  <servlet>
 
 	<display-name>ServletRegistrarOperacionesPrestamos</display-name>
 	<servlet-name>ServletRegistrarOperacionesPrestamos</servlet-name>
 	<servlet-class>servlets.ServletRegistrarOperacionesPrestamos</servlet-class>
 
 </servlet>
 
   <servlet>
 
 	<display-name>ServletRegistrarOperacionesCuentas</display-name>
 	<servlet-name>ServletRegistrarOperacionesCuentas</servlet-name>
 	<servlet-class>servlets.ServletRegistrarOperacionesCuentas</servlet-class>
 
 </servlet>
 
    <servlet>
 
 	<display-name>ServletTop10Oficina</display-name>
 	<servlet-name>ServletTop10Oficina</servlet-name>
 	<servlet-class>servlets.ServletTop10Oficina</servlet-class>
 
 </servlet>
 
     <servlet>
 
 	<display-name>ServletUsuarioMasActivoOficina</display-name>
 	<servlet-name>ServletUsuarioMasActivoOficina</servlet-name>
 	<servlet-class>servlets.ServletUsuarioMasActivoOficina</servlet-class>
 
 </servlet>
 
      <servlet>
 
 	<display-name>ServletUsuarioMasActivoGeneral</display-name>
 	<servlet-name>ServletUsuarioMasActivoGeneral</servlet-name>
 	<servlet-class>servlets.ServletUsuarioMasActivoGeneral</servlet-class>
 
 </servlet>
 
 <servlet>
 
 	<display-name>ServletTop10General</display-name>
 	<servlet-name>ServletTop10General</servlet-name>
 	<servlet-class>servlets.ServletTop10General</servlet-class>
 
 </servlet>
 
  <servlet>
 
 	<display-name>ServletIndexCliente</display-name>
 	<servlet-name>ServletIndexCliente</servlet-name>
 	<servlet-class>servlets.ServletIndexCliente</servlet-class>
 
 </servlet>
 
   <servlet>
 
 	<display-name>ServletRegistrarOperacionCuentaCliente</display-name>
 	<servlet-name>ServletRegistrarOperacionCuentaCliente</servlet-name>
 	<servlet-class>servlets.ServletRegistrarOperacionCuentaCliente</servlet-class>
 
 </servlet>
 
 <servlet-mapping>
 
  <servlet-name>ServletPrincipal</servlet-name>
  <url-pattern>/main</url-pattern>
  
 </servlet-mapping>
 
  <servlet-mapping>
 
  <servlet-name>ServletLogin</servlet-name>
  <url-pattern>/login</url-pattern>
  
 </servlet-mapping>
 
 <servlet-mapping>
 
 	<servlet-name>ServletIndexGerenteOficina</servlet-name>
 	<url-pattern>/gerenteOficina</url-pattern>
 
 </servlet-mapping>
 
  <servlet-mapping>
 
 	<servlet-name>ServletRegistrarCliente</servlet-name>
 	<url-pattern>/registrarCliente</url-pattern>
 
 </servlet-mapping>
 
 
   <servlet-mapping>
 
 	<servlet-name>ServletRegistrarCuenta</servlet-name>
 	<url-pattern>/registrarCuenta</url-pattern>
 
 </servlet-mapping>
 
    <servlet-mapping>
 
 	<servlet-name>ServletCerrarCuenta</servlet-name>
 	<url-pattern>/cerrarCuenta</url-pattern>
 
 </servlet-mapping>
 
    <servlet-mapping>
 
 	<servlet-name>ServletRegistrarPrestamo</servlet-name>
 	<url-pattern>/registrarPrestamo</url-pattern>
 
 </servlet-mapping>
 
     <servlet-mapping>
 
 	<servlet-name>ServletCerrarPrestamo</servlet-name>
 	<url-pattern>/cerrarPrestamo</url-pattern>
 
 </servlet-mapping>
 
      <servlet-mapping>
 
 	<servlet-name>ServletConsultarCuentaOficina</servlet-name>
 	<url-pattern>/consultarCuentaOficina</url-pattern>
 
 </servlet-mapping>
 
       <servlet-mapping>
 
 	<servlet-name>ServletConsultarClienteOficina</servlet-name>
 	<url-pattern>/consultarClienteOficina</url-pattern>
 
 </servlet-mapping>
 
        <servlet-mapping>
 
 	<servlet-name>ServletIndexGerenteGeneral</servlet-name>
 	<url-pattern>/gerenteGeneral</url-pattern>
 
 </servlet-mapping>
 
 <servlet-mapping>
 
 	<servlet-name>ServletConsultarCuentaGeneral</servlet-name>
 	<url-pattern>/consultarCuentaGeneral</url-pattern>
 
 </servlet-mapping>
 
  <servlet-mapping>
 
 	<servlet-name>ServletConsultarClienteGeneral</servlet-name>
 	<url-pattern>/consultarClienteGeneral</url-pattern>
 
 </servlet-mapping>
 
  <servlet-mapping>
 
 	<servlet-name>ServletIndexCajero</servlet-name>
 	<url-pattern>/cajero</url-pattern>
 
 </servlet-mapping>
 
   <servlet-mapping>
 
 	<servlet-name>ServletRegistrarOperacionesPrestamos</servlet-name>
 	<url-pattern>/operacionesPrestamos</url-pattern>
 
 </servlet-mapping>
 
    <servlet-mapping>
 
 	<servlet-name>ServletRegistrarOperacionesCuentas</servlet-name>
 	<url-pattern>/operacionesCuentas</url-pattern>
 
 </servlet-mapping>
 
     <servlet-mapping>
 
 	<servlet-name>ServletTop10Oficina</servlet-name>
 	<url-pattern>/top10Oficina</url-pattern>
 
 </servlet-mapping>
 
      <servlet-mapping>
 
 	<servlet-name>ServletUsuarioMasActivoOficina</servlet-name>
 	<url-pattern>/usuarioMasActivoOficina</url-pattern>
 
 </servlet-mapping>
 
       <servlet-mapping>
 
 	<servlet-name>ServletUsuarioMasActivoGeneral</servlet-name>
 	<url-pattern>/usuarioMasActivoGeneral</url-pattern>
 
 </servlet-mapping>
 
 <servlet-mapping>
 
 	<servlet-name>ServletTop10General</servlet-name>
 	<url-pattern>/top10General</url-pattern>
 
 </servlet-mapping>
 
  <servlet-mapping>
 
 	<servlet-name>ServletIndexCliente</servlet-name>
 	<url-pattern>/cliente</url-pattern>
 
 </servlet-mapping>
 
   <servlet-mapping>
 
 	<servlet-name>ServletRegistrarOperacionCuentaCliente</servlet-name>
 	<url-pattern>/registrarOperacionesCuentaCliente</url-pattern>
 
 </servlet-mapping>
 
   <welcome-file-list>
	<welcome-file>main</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 

</web-app>